[Unit]
Description=ssvp (server statistics viewer project) development server
Documentation=https://ssvp.docs.amyip.net
Conflicts=ssvp-gunicorn

[Service]
Type=simple
ExecStart=<INSTALLDIR>/venv-wrapper.sh python3 srv/app.py
Restart=always

[Install]
WantedBy=multi-user.target