<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config["instance_name"] }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/custom_bootstrap.css">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-sm bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand ps-3 ps-sm-4" href="/">{{ config["instance_name"] }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 pe-sm-4">
          <li class="nav-item">
            <a {% if site == "index" %}class="nav-link active"{% else %}class="nav-link"{% endif %} aria-current="page" href="/">Status</a>
          </li>
          <li class="nav-item">
            <a {% if site == "events" %}class="nav-link active"{% else %}class="nav-link"{% endif %} aria-current="page" href="/events">Event&nbsp;Log</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Subscribe</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/subscribe/email">Email</a>
              </li>
              <li>
                <a class="dropdown-item" href="/subscribe/email">ActivityPub</a>
              </li>
              <li>
                <a class="dropdown-item" href="/feed.rss">RSS</a>
              </li>
              <li>
                <a class="dropdown-item" href="/feed.atom">Atom</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a {% if site == "contact" %}class="nav-link active"{% else %}class="nav-link"{% endif %} aria-current="page" href="/contact">Contact</a>
          </li>
          {% if config["docs"] == "local" %}
          <li class="nav-item">
            <a class="nav-link" href="/docs">Docs</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>