{% include "_header.html" %}
{% if config["splash"] is defined %}
<div class="container-fluid"><h1 class="text-center">{{ config["splash"] }}</h1></div>
{% endif %}
<div class="container-fluid mt-4 w-75 rounded-4 p-2 text-center text-light-emphasis fs-4 fw-bold" id="totality-indic"></div>
<div class="container-fluid" id="table-gen"><div class="table-responsive"></div></div>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script src="/assets/js/index-1.js"></script>
{% include "_footer.html" %}